<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458506831840-qg1n3ko4ukatgcerefbdtaotn6fmhb12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458506831840-qg1n3ko4ukatgcerefbdtaotn6fmhb12</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>458506831840-g84timn7g94vjbpsg5s1i4e1e3ge0b56.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-I4QDQmfdejq79mQ17U-6lKONeA54pzg</string>
	<key>GCM_SENDER_ID</key>
	<string>458506831840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blackowned.biz</string>
	<key>PROJECT_ID</key>
	<string>blackownedbiz-dcd83</string>
	<key>STORAGE_BUCKET</key>
	<string>blackownedbiz-dcd83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458506831840:ios:3325cfccede2d01df84d85</string>
</dict>
</plist>